Plan :

1 - Scipts des API 

2 - API => S3 

3 - S3 => MongoDB 

4 - MongoBD => SQL 

5 - A faire/résoudre

4 - MongoDB => SQL

L'ocjectif de cette étape est de faire passer les données qui sont sous le format json/mongodb à une BDD sql. Pourquoi ?
- Les màj des vols fréquentes s'apparentent à des transactions. Il est plus judicieux d'utiliser SQL lorsqu'il s'agit de transactions.
- La BDD mongodb sera davantage utilisée pour faire des transform sur les documents json. 
- Pour intégrer les données sur dash, il est plus simple d'avoir nos données sous format dataframe. Les dataframes seront plus simples à créer à partir de table sql qui contiennent déjà du lien entre elles. Le dataframe sera directement utilisable sur dash après une simple conversion de la requête sql en dataframe.
- Notre objectif final sera d'afficher simplement les informations d'un vol en cours ou non. Un objcectif d'analyse des données n'est pas encore envisagé mais reste toutefois une possibilité.

In [5]:
! python create_sqlbdd_and_table.py

2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("airports")
2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine
CREATE TABLE airports (
	iata_code VARCHAR NOT NULL,
	country_code VARCHAR,
	icao_code VARCHAR,
	lat FLOAT,
	lng FLOAT,
	name VARCHAR,
	PRIMARY KEY (iata_code)
)


2022-08-05 14:35:38,117 INFO sqlalchemy.engine.Engine [no key 0.00005s] ()
2022-08-05 14:35:38,118 INFO sqlalchemy.engine.Engine COMMIT
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("countries")
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine
CREATE TABLE countries (
	country_code VARCHAR NOT NULL,
	name VARCHAR,
	PRIMARY KEY (country_code)
)


2022-08-05 14:35:38,119 INFO sqlalchemy.engine.Engine [no key 0.00004s] ()
2022-08-05 14:35:38,120 INFO sqlalchemy.engine.Engine COMMIT
/home/ad/temp_DST/DST-airlines/src/bdd_sql/create_sqlbdd_and_table.py:37: SADeprecationWarning: A column with name 'country_code' is already present in table 'cities'. Please use method :meth:`_schema.Table.append_column` with the parameter ``replace_existing=True`` to replace an existing column.
  cities = Table(
2022-08-05 14:35:38,120 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,120 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,120 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cities")
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("cities")
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine
CREATE TABLE cities (
	city_code VARCHAR NOT NULL,
	country_code VARCHAR,
	lat FLOAT,
	lng FLOAT,
	name VARCHAR,
	PRIMARY KEY (city_code),
	FOREIGN KEY(country_code) REFERENCES countries (country_code)
)


2022-08-05 14:35:38,121 INFO sqlalchemy.engine.Engine [no key 0.00005s] ()
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine COMMIT
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cities")
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("aircraft")
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,122 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("aircraft")
2022-08-05 14:35:38,123 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,123 INFO sqlalchemy.engine.Engine
CREATE TABLE aircraft (
	hex VARCHAR NOT NULL,
	iata VARCHAR,
	icao VARCHAR,
	airline_icao VARCHAR,
	airline_iata VARCHAR,
	PRIMARY KEY (hex)
)


2022-08-05 14:35:38,123 INFO sqlalchemy.engine.Engine [no key 0.00004s] ()
2022-08-05 14:35:38,124 INFO sqlalchemy.engine.Engine COMMIT
/home/ad/temp_DST/DST-airlines/src/bdd_sql/create_sqlbdd_and_table.py:66: SADeprecationWarning: A column with name 'arr_iata' is already present in table 'real_time_flights'. Please use method :meth:`_schema.Table.append_column` with the parameter ``replace_existing=True`` to replace an existing column.
  real_time_flights = Table(
2022-08-05 14:35:38,124 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,124 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,124 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cities")
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("aircraft")
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("real_time_flights")
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("real_time_flights")
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine
CREATE TABLE real_time_flights (
	flight_number_date VARCHAR NOT NULL,
	aircraft_icao VARCHAR,
	airline_iata VARCHAR,
	airline_icao VARCHAR,
	alt INTEGER,
	arr_iata VARCHAR,
	arr_icao VARCHAR,
	dep_icao VARCHAR,
	dir INTEGER,
	date VARCHAR,
	flag VARCHAR,
	flight_icao VARCHAR,
	flight_number VARCHAR,
	hex VARCHAR,
	lat FLOAT,
	lng FLOAT,
	reg_number VARCHAR,
	speed INTEGER,
	status VARCHAR,
	aircraft_hex VARCHAR,
	dep_iata VARCHAR,
	PRIMARY KEY (flight_number_date),
	FOREIGN KEY(aircraft_hex) REFERENCES aircraft (hex),
	FOREIGN KEY(dep_iata) REFERENCES airports (iata_code),
	FOREIGN KEY(arr_iata) REFERENCES airports (iata_code)
)


2022-08-05 14:35:38,125 INFO sqlalchemy.engine.Engine [no key 0.00005s] ()
2022-08-05 14:35:38,126 INFO sqlalchemy.engine.Engine COMMIT
/home/ad/temp_DST/DST-airlines/src/bdd_sql/create_sqlbdd_and_table.py:99: SADeprecationWarning: A column with name 'dep_iata' is already present in table 'delays_flights'. Please use method :meth:`_schema.Table.append_column` with the parameter ``replace_existing=True`` to replace an existing column.
  delays_flights = Table(
/home/ad/temp_DST/DST-airlines/src/bdd_sql/create_sqlbdd_and_table.py:99: SADeprecationWarning: A column with name 'arr_iata' is already present in table 'delays_flights'. Please use method :meth:`_schema.Table.append_column` with the parameter ``replace_existing=True`` to replace an existing column.
  delays_flights = Table(
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cities")
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("aircraft")
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("real_time_flights")
2022-08-05 14:35:38,127 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,128 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("delays_flights")
2022-08-05 14:35:38,128 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,128 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("delays_flights")
2022-08-05 14:35:38,128 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,128 INFO sqlalchemy.engine.Engine
CREATE TABLE delays_flights (
	id_delays INTEGER NOT NULL,
	aircraft_icao VARCHAR,
	airline_iata VARCHAR,
	airline_icao VARCHAR,
	arr_baggage VARCHAR,
	arr_estimated VARCHAR,
	arr_estimated_utc VARCHAR,
	arr_gate VARCHAR,
	arr_iata VARCHAR,
	arr_icao VARCHAR,
	arr_terminal VARCHAR,
	arr_time VARCHAR,
	arr_time_utc VARCHAR,
	cs_airline_iata VARCHAR,
	cs_flight_iata VARCHAR,
	cs_flight_number INTEGER,
	delayed INTEGER,
	dep_estimated VARCHAR,
	dep_estimated_utc VARCHAR,
	dep_gate VARCHAR,
	dep_iata VARCHAR,
	dep_icao VARCHAR,
	dep_terminal VARCHAR,
	dep_time VARCHAR,
	dep_time_utc VARCHAR,
	duration INTEGER,
	flight_iata VARCHAR,
	flight_icao VARCHAR,
	flight_number VARCHAR,
	status VARCHAR,
	flight_number_date VARCHAR,
	PRIMARY KEY (id_delays),
	FOREIGN KEY(flight_number_date) REFERENCES real_time_flights (flight_number_date),
	FOREIGN KEY(dep_iata) REFERENCES airports (iata_code),
	FOREIGN KEY(arr_iata) REFERENCES airports (iata_code)
)


2022-08-05 14:35:38,128 INFO sqlalchemy.engine.Engine [no key 0.00005s] ()
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine COMMIT
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airports")
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("countries")
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cities")
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("aircraft")
2022-08-05 14:35:38,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("real_time_flights")
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("delays_flights")
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test")
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("test")
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine
CREATE TABLE test (
	airline_iata VARCHAR NOT NULL,
	alt INTEGER,
	status VARCHAR,
	PRIMARY KEY (airline_iata)
)


2022-08-05 14:35:38,130 INFO sqlalchemy.engine.Engine [no key 0.00004s] ()
2022-08-05 14:35:38,131 INFO sqlalchemy.engine.Engine COMMIT

Le script create_sqlbdd_and_table.py permet de créer la base de données sql nommée "dst-airlines.db" puis de créer les différentes tables qui composeront cette BDD. A savoir :
- Une table airports (iata_code PK)
- Une table countries (code PK)
- Une table cities (city_code PK / country_code FK de la table countries)
- Une table aircraft (hex PK)
- Une table real_time_flights (flight_number PK / dep_iata FK de la table airports / arr_iata FK de la table airports)
- Une table delays_flights (id autoincrementé PK / flight_number_date FK de la table real_time_flights / dep_iata FK de la table airports / arr_iata FK de la table airports)
- Une table test (uniquement pour faire des tests)

In [6]:
! python inject_data.py

Le fichier inject_data.py permet d'automatiser l'injection les données issues de mongodb dans les tables de la BDD sql créée précédemment (fichier create_sqlbdd_and_table.py).
Les principales étapes du script inject_data.py sont les suivantes :
- Importer dans le fichier la BDD mongodb qui  sont stockées sur le cloud
- Importer les différentes collections de la BDD mongodb
- Importer la BDD sql qui a précédemment été créée et qui se nomme "dst_airlines.db"
- Automatiser l'injection de données pour chaque tables

Note : Nous avons un problème de valeur manquantes pour automatiser la création de toutes nos tables (c'est un problème que nous n'avons pas encore réussi à résoudre). Dans ce notebook, nous allons montrer uniquement l'automatisation de création d'une table "test" à partir de champs non manquants.

In [7]:
! python sql_queries.py

[('0', 7840, 'en-route'), ('1', 2209, 'en-route'), ('2', 10675, 'en-route'), ('3', 10066, 'en-route'), ('4', 12192, 'en-route'), ('5', 10058, 'en-route'), ('6', 9753, 'en-route'), ('7', 10058, 'en-route'), ('8', 10965, 'en-route'), ('9', 7597, 'en-route'), ('10', 3680, 'en-route'), ('11', 11277, 'en-route'), ('12', 9448, 'en-route'), ('13', 11887, 'en-route'), ('14', 10972, 'en-route'), ('15', 11582, 'en-route'), ('16', 10668, 'en-route'), ('17', 10363, 'en-route'), ('18', 10363, 'en-route'), ('19', 12192, 'en-route'), ('20', 10972, 'en-route'), ('21', 10972, 'en-route'), ('22', 10668, 'en-route'), ('23', 10668, 'en-route'), ('24', 10363, 'en-route'), ('25', 10370, 'en-route'), ('26', 10363, 'en-route'), ('27', 10073, 'en-route'), ('28', 10066, 'en-route'), ('29', 9761, 'en-route'), ('30', 9753, 'en-route'), ('31', 7924, 'en-route'), ('32', 6705, 'en-route'), ('33', 5844, 'en-route'), ('34', 0, 'en-route'), ('35', 10972, 'en-route'), ('36', 10668, 'en-route'), ('37', 10363, 'en-route'), ('38', 9730, 'en-route'), ('39', 5669, 'en-route'), ('40', 4320, 'en-route'), ('41', 11879, 'en-route'), ('42', 11582, 'en-route'), ('43', 10972, 'en-route'), ('44', 10668, 'en-route'), ('45', 10363, 'en-route'), ('46', 9753, 'en-route'), ('47', 9448, 'en-route'), ('48', 3048, 'en-route'), ('49', 2065, 'en-route'), ('50', 1493, 'en-route'), ('51', 1188, 'en-route'), ('52', 457, 'en-route'), ('53', 0, 'en-route'), ('54', 11277, 'en-route'), ('55', 11277, 'en-route'), ('56', 10972, 'en-route'), ('57', 0, 'en-route'), ('58', 10972, 'en-route'), ('59', 10972, 'en-route'), ('60', 10668, 'en-route'), ('61', 10279, 'en-route'), ('62', 10256, 'en-route'), ('63', 10111, 'en-route'), ('64', 10050, 'en-route'), ('65', 9860, 'en-route'), ('66', 9479, 'en-route'), ('67', 9311, 'en-route'), ('68', 9037, 'en-route'), ('69', 8732, 'en-route'), ('70', 8557, 'en-route'), ('71', 7200, 'en-route'), ('72', 6789, 'en-route'), ('73', 6705, 'en-route'), ('74', 6690, 'en-route'), ('75', 6096, 'en-route'), ('76', 4671, 'en-route'), ('77', 4427, 'en-route'), ('78', 4076, 'en-route'), ('79', 3657, 'en-route'), ('80', 3169, 'en-route'), ('81', 2606, 'en-route'), ('82', 2506, 'en-route'), ('83', 1828, 'en-route'), ('84', 1432, 'en-route'), ('85', 1066, 'en-route'), ('86', 594, 'en-route'), ('87', 99, 'en-route'), ('88', 0, 'en-route'), ('89', 0, 'en-route'), ('90', 0, 'en-route'), ('91', 0, 'en-route'), ('92', 12496, 'en-route'), ('93', 11887, 'en-route'), ('94', 10972, 'en-route'), ('95', 11269, 'en-route'), ('96', 10972, 'en-route'), ('97', 10972, 'en-route'), ('98', 10972, 'en-route'), ('99', 10363, 'en-route'), ('100', 9753, 'en-route'), ('101', 10363, 'en-route'), ('102', 10363, 'en-route'), ('103', 10355, 'en-route'), ('104', 10066, 'en-route'), ('105', 10058, 'en-route'), ('106', 11887, 'en-route'), ('107', 11582, 'en-route'), ('108', 10980, 'en-route'), ('109', 10980, 'en-route'), ('110', 10972, 'en-route'), ('111', 10972, 'en-route'), ('112', 10675, 'en-route'), ('113', 10668, 'en-route'), ('114', 10058, 'en-route'), ('115', 8244, 'en-route'), ('116', 12496, 'en-route'), ('117', 11269, 'en-route'), ('118', 10668, 'en-route'), ('119', 8077, 'en-route'), ('120', 7360, 'en-route'), ('121', 11285, 'en-route'), ('122', 10972, 'en-route'), ('123', 9456, 'en-route'), ('124', 9448, 'en-route'), ('125', 5905, 'en-route'), ('126', 3992, 'en-route'), ('127', 3215, 'en-route'), ('128', 0, 'en-route'), ('129', 11277, 'en-route'), ('130', 10972, 'en-route'), ('131', 7117, 'en-route'), ('132', 10363, 'en-route'), ('133', 11917, 'en-route'), ('134', 0, 'en-route'), ('135', 11277, 'en-route'), ('136', 10668, 'en-route'), ('137', 0, 'en-route'), ('138', 0, 'en-route'), ('139', 0, 'en-route'), ('140', 0, 'en-route')]

Le script sql_queries.py permet de faire des requêtes sql.
En l'occurence, la requête suivante a été effectuées :
"SELECT * FROM test;"

La table test est celle dont les données ont été injectées automatiquement depuis la BDD mongodb. Cela prouve qu'il est possible d'automatiser l'injection des données pour toutes nos tables. Il faut juste que l'on arrive à gérer les valeurs manquantes afin de créer automatiquement toutes nos tables.

5 - A faire/résoudre

Partie mongobd => sql :
- gérer données manquantes dans les json
- ajout autimatique de la date du jour de la requête dans la table real_time_flight
- voir pour la mise à jour des champs dans la BDD sql
- uen fois qu'on aura toutes nos tables sql : tester la cohérence du lien entre nos table avec des jointures